* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* color: #ffc629; */

html {
  height: 100%;
  min-height: 100vh;
  min-width: 100vw;
}

body {
  font-family: -apple-system, "Helvetica Neue", "Segoe WP", "Segoe UI";
  font-size: 14px;
  line-height: 1.35;
  color: #333;
}

/* /////////////////////////////////////////////////////////
NAVIGATION
///////////////////////////////////////////////////////// */

.navigation-section {
  /* z-index: 1; */
}

.navigation-ctr {
  background-color: rgba(255, 255, 255, 0.97);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  overflow: hidden;
}

.left-nav-items {
  height: 100%;
  display: flex;
  align-items: center;
}

.bumble-logo {
  height: 32px;
  /* width: 188px; */
  padding-right: 20px;
  padding-left: 20px;
}

.dropbtn-inner {
  display: flex;
  align-items: center;
}

.dropbtn ion-icon {
  width: 16px;
}

.dropdown .dropbtn {
  border: none;
  background: none;
  margin: 0;
}

.dropbtn-label {
  font-size: 12px;
  /* color: #ffc629; */
}

.dropdown-content {
  overflow-y: scroll;
  max-height: 280px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 2px solid #f1f1f1;
  background: #fff;
  position: absolute;
  transform: translateX(40%);
  /* right: 0; */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  /* z-index: 1; */
  display: none;
}

.dropdown-content-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.dropdown-content-inner:hover {
  color: #ffc629;
  transition: all 0.1s;
}

.dropdown-content-item {
  color: #000;
  padding: 8px 12px;
  text-decoration: none;
  width: 100%;
}

.dropdown-content-item:hover {
  color: #ffc629;
  transition: all 0.1s;
}

.dropdown-content .dropdown-content-title:hover,
.dropdown-content .dropdown-content-title:active {
  color: #ffc629;
  transition: all 0.1s;
}

.dropdown-content-title:hover,
.dropdown-content-title:active {
  color: #ffc629;
  transition: all 0.1s;
}

.dropdown-content-title {
  color: #5a4f31;
  font-size: 12px;
  width: 100%;
}

.dropdown:hover .dropdown-content {
  display: block;
  transition: all 0.3s;
}

.right-nav-items {
  display: flex;
  align-items: center;
  gap: 24px;
  list-style: none;
  height: 100%;
  padding-right: 16px;
  line-height: 1.35;
  display: relative;
}

.nav-item {
  color: #000;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 14px;
  font-weight: bold;
}

.nav-item:hover,
.nav-item:active {
  color: #ffc629;
}

.nav-item_dropdown:hover,
.nav-item_dropdown:active {
  color: inherit;
}

.nav-item_dropdown {
  height: 100%;
}

.dropdown_2 {
  /* margin: 0;
  height: 100%;
  width: 100%; */
  overflow: hidden;
}

.dropdown-content_2 {
  position: absolute;
  transform: translateX(-15%);
  padding-top: 24px;
  padding-bottom: 8px;
  background: #fff;

  display: none;
}

.dropdown-content-inner_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 16px;
}

.dropdown-content-item_2 {
  text-decoration: none;
  width: 100%;
}

.dropdown-content-title_2 {
  font-size: 12px;
  font-weight: bold;
  display: block;
  /* padding: 8px; */
}

.date_2 {
  color: #ffc629;
}

.bff_2 {
  color: #019abf;
}

.bizz_2 {
  color: #ff6c37;
}

.dropdown-content-title_2:hover,
.dropdown-content-title_2:active {
  color: #000;
  transition: all 0.1s;
}

.dropdown_2:hover .dropdown-content_2 {
  display: block;
  transition: all 0.3s;
}

.dropdown-content-item_2 {
  color: #000;
  padding: 8px 12px;
  text-decoration: none;
  width: 100%;
}

/* /////////////////////////////////////////////////////////
HERO SECTION
///////////////////////////////////////////////////////// */

.hero-section {
}

.hero-ctr {
  height: 100vh;
  max-height: 800px;
  min-width: 100vw;
  background: url(img/phone-typing.webp);
  background-repeat: no-repeat;
  background-size: cover;

  /* position: relative; */
  display: flex;
  justify-content: center;

  padding: 16px;
}

.inner-hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  background-color: rgba(255, 255, 255, 0.9);
  display: block;
  width: 100%;
  max-width: 680px;
  text-align: center;
  padding: 32px;
}

.hero-heading {
  font-size: 32px;
  padding-bottom: 8px;
}

.hero-text {
}

.hero-btns {
  margin-top: 32px;
}

.hero-btn-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn {
  width: 120px;
  height: 36px;
  padding: 0 16px;
  font-weight: bold;
}

.btn:hover {
  background: #333;
  color: #fff;
  transition: all 0.3s;
}

.yellow-btn {
  background: #ffc629;
  color: #fff;
  border: none;
}

.sign-in-btn {
  border: 2px solid #ffc629;
  background: #fff;
  color: #333;
}

/* /////////////////////////////////////////////////////////
FEATURES
///////////////////////////////////////////////////////// */

.features-ctr {
  width: 100vw;
  min-height: 100vh;
  margin-top: 50px;
}

.features-heading {
  font-size: 26px;
  letter-spacing: 1.4px;
  text-align: center;
  padding-bottom: 30px;
}

.features {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;
  gap: 16px;
}

.feature-item {
  display: flex;
  min-height: 100%;
  position: relative;
}

.feature-item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-img {
  max-height: 400px;
  max-width: 400px;
}

.features-text {
  text-align: center;
  max-width: 350px;
  margin-top: 28px;
  margin-bottom: auto;
}

.feature-btn {
  text-align: center;
  margin-top: 32px;
}

.img-label {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.8;
  line-height: 1.4;
  padding: 10px 20px;
  background-color: #fff;
  position: absolute;
  left: 0;
}

.date-label {
  top: 30%;
}

.bizz-label {
  top: 50%;
}

.bff-label {
  bottom: 80%;
}

/* /////////////////////////////////////////////////////////
WHY BUMBLE
///////////////////////////////////////////////////////// */

.why-ctr {
  min-height: 100vh;
  margin-top: 48px;
  margin-left: 32px;
  margin-right: 32px;
  overflow: hidden;
}

.why-background {
  background: url(img/yellow-message.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
  padding: 32px;
  width: 708px;
}

.why-inner-ctr {
  height: 100vh;
  width: 100vw;
  max-height: 800px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 32px;
}

.why-content-ctr {
  max-width: 100vw;
}

.why-content {
  background: #fff;
  width: 680px;
  right: 0;
  padding: 32px;
  z-index: 1;
  margin-right: 50px;
}

.why-heading {
  font-size: 28px;
}
.why-text {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-right: 22px;
}

/* /////////////////////////////////////////////////////////
SLIDER
///////////////////////////////////////////////////////// */

.slider-section {
  height: 100vh;
  margin-left: 32px;
  margin-right: 32px;
  position: relative;
}

.slider-ctr {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  margin-top: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-inner-ctr {
  display: flex;
  justify-content: center;
  width: 100%;
}

.slider-inner {
  min-height: 100vh;
  height: 100%;
  min-width: 100%;
  margin: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-inner_first-move {
  background: url(img/tag-collage.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .slider-inner_catfishing {
  background: url(img/phone-typing-2.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  min-height: 100vh;
  height: 100%;
  min-width: 100vw;
}
.slider-inner_success {
  background: url(img/bench.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  min-height: 100vh;
  height: 100%;
  min-width: 100vw;
} */

.slider-content-ctr {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 680px;
  height: 200px;
  background-color: #fff;
}

.slider-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.slider-heading {
  font-weight: bold;
  font-size: 32px;
}
.slider-text {
  padding-top: 15px;
  padding-bottom: 20px;
}
.how-btn {
  text-transform: uppercase;
  font-weight: 600;
}

.arrow-ctr {
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 50%; */
  /* width: calc(100% - 64px); */
  /* z-index: 1; */
  /* left: 50%; */
  /* transform: translate(-25%); */
}

.slider-arrow {
  height: 64px;
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffc629;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
}

.slider-arrow:hover,
.slider-arrow:active {
  background-color: #333;
  color: #fff;
  transition: all 0.3s;
}

.left-arrow {
  right: 0;
}

.right-arrow {
  left: 0;
}

.arrow-icon {
  width: 32px;
  height: 32px;
}

.slider-pagination-ctr {
  margin-top: 24px;
}

.slider-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.slider-dot {
  content: " ";
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 50%;
  cursor: pointer;
}

.slider-dot:hover {
  background-color: #ffc629;
}

/* /////////////////////////////////////////////////////////
FOOTER
///////////////////////////////////////////////////////// */

.footer-ctr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
}
.footer-heading {
  text-align: center;
  font-size: 27px;
  font-weight: bold;
  margin-top: 80px;
  margin-bottom: 96px;
}

.footer-img-ctr {
  display: flex;
  justify-content: center;
}

.footer-img {
  width: 164px;
  margin-bottom: 30px;
}
.footer-logo-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  width: 720px;
  margin: 0 auto;
}
.social-logos {
  display: flex;
  gap: 18px;
  list-style: none;
}

.social-logo ion-icon {
  height: 28px;
  width: 28px;
  color: #333;
  /* fill: #333; */
  cursor: pointer;
}

.social-logo ion-icon:link,
.social-logo ion-icon:hover {
  color: #ffc629;
}

.bottom-footer {
  margin-top: 32px;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 32px;
}

.footer-item-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  list-style: none;
  line-height: 1;
}

.footer-item {
  color: #333;
  text-decoration: none;
}

.footer-caption {
  margin-top: 12px;
  margin-bottom: 32px;
}

.footer-caption-text {
  color: #bdbdbd;
  font-size: 12px;
  line-height: 1;
  text-align: center;
}

/* //////////////////////////// */
.footer-item:hover,
.footer-item:active {
  color: #ffc629;
}
